<input #input value="Message">
<div>
    <button (click)="showToastSuccess(input.value)">Create success toast</button>
    <button (click)="showToastInfo(input.value)">Create info toast</button>
    <button (click)="showToastWarning(input.value)">Create warning toast</button>
    <button (click)="showToastError(input.value)">Create error toast</button>
</div>