:host {
    position: absolute;
    .toast-container {
        z-index: 1000;
        color: #ffffff;
        padding: 16px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        &-title {
            justify-content: space-between;
            div:first-child {
                display: flex;
            }
            h1 {
                font-size: 20px;
                margin-left: 1rem;
                font-weight: bold;
            }
        }
        &-body,
        &-title {
            display: flex;
            align-items: center;
            &-symbol {
                font-size: 20px;
                align-self: center;
            }
        }
        &-body {
            margin-block-start: .25rem;
        }
        button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            color: #ffffff;
            font-weight: lighter;
            background-color: transparent;
            padding: 0;
            border: none;
        }
        &-success {
            background-color: mediumseagreen;
        }
        &-info {
            background-color: dodgerblue;
        }
        &-warning {
            background-color: orange;
        }
        &-error {
            background-color: red;
        }
    }
}