<div #toast class="toast-container" [@state]="stateValue">
    <div class="toast-container-title" *ngIf="titleValue">
        <div>
            <div [ngSwitch]="this.config.type" class="toast-container-title-symbol">
                <div *ngSwitchCase="0"><em class="icon-ok-circled"></em></div>
                <div *ngSwitchCase="1"><em class="icon-info-circled"></em></div>
                <div *ngSwitchCase="2"><em class="icon-attention"></em></div>
                <div *ngSwitchCase="3"><em class="icon-cancel-circled"></em></div>
                <div *ngSwitchDefault></div>
            </div>
            <h1>{{ titleValue | titlecase}}</h1>
        </div>
        <div>
            <button (click)="closed.next()" [hidden]="!config.closeButton">&#x2716;</button>
        </div>
    </div>
    <div class="toast-container-body">
        <span>{{ messageValue }}</span>
    </div>
</div>